@tailwind base;
@tailwind components;
@tailwind utilities;

.nft-content > li > p { 
  font-size: 0.9rem;
  margin-bottom: 1rem;

}
.attributes > li {
  margin-bottom: 0.5rem;
}
.attributes > li > p{
  font-size: 0.8rem;
  background-color: #24252C;
  padding: 8px;
  border-radius: 4px;
  margin-top: 4px;
  word-wrap:break-word;
  word-break: break-all;
}

